.background-contact {
	height: 80vh;
	background-image: url('../../dist/img/contactLow.jpg');
	background-size: cover;
	background-position: center;
	height: 92vh;
}
.background-contact-shadow {
	display: flex;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.7);
	z-index: -55;
}

form.contact {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	top: 15%;
	left: 50%;
	transform: translate(-50%);
	border: 2px solid rgb(200, 183, 161);
	border-radius: 10px;
	background-color: rgb(0, 0, 0, 0.4);
	backdrop-filter: blur(20px);
	color: antiquewhite;
	width: 400px;
	height: 500px;
	span {
		font-size: 2.4rem;
		i {
			padding-left: 0.5rem;
		}
	}
	label {
		font-size: 1.6rem;
		padding-bottom: 1rem;
	}
	input {
		padding: 0.5rem;
		border-radius: 5px;
	}
	textarea {
		padding: 2rem;
		border-radius: 5px;
		resize: vertical;
	}
	button {
		color: antiquewhite;
		font-size: 16px;
		padding: 1rem 6rem;
		border-radius: 15px;
		background-color: transparent;
		border: 1px solid rgb(200, 183, 161);
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s;
	}
	button:hover {
		font-weight: 500;
		color: black;
		background-color: antiquewhite;
	}
}
.contact-box {
	// width: 80%;
	display: flex;
	flex-direction: column;

	label {
		text-align: center;
	}
}
.google-map {
	display: flex;
	align-items: flex-end;
	width: 100%;
	iframe {
		margin: 0 auto;

		width: 90%;
		height: 20vh;
		border-radius: 10px;
	}
}
.background-contact h2 {
	position: absolute;
	font-size: 18px;
	color: antiquewhite;
	bottom: 28vh;
	left: 5%;
}
.popup {
	display: none;
	// display: block;
	position: absolute;
	top: 13%;
	left: 50%;
	width: 30%;
	transform: translate(-50%, -50%);
	z-index: 20;
	background-color: aliceblue;
	border-radius: 15px;
	.popup-text {
		text-align: center;
	}
	i {
		color: #2ade72;
	}
}
@media (max-width: 576px) {
	form.contact {
		width: 320px;
		height: 370px;
		span {
			font-size: 1.8rem;
			i {
				padding-left: 0.3rem;
			}
		}
		label {
			font-size: 1.2rem;
			padding-bottom: 0.7rem;
		}
		input {
			padding: 0.3rem;
		}
		textarea {
			padding: 1.5rem;
		}
		button {
			font-size: 1.2rem;
		}
	}
	.contact-box {
		width: 70%;
	}
}
@media (min-width: 576px) {
	form.contact {
		width: 400px;
		height: 450px;
		span {
			font-size: 2rem;
			i {
				padding-left: 0.5rem;
			}
		}
		label {
			font-size: 1.6rem;
			padding-bottom: 0.7rem;
		}
		input {
			padding: 0.5rem;
		}
		textarea {
			padding: 2rem;
		}
		button {
			font-size: 1.6rem;
		}
	}
	.contact-box {
		width: 70%;
	}
}
@media (min-width: 1200px) {
	.background-contact {
		background-image: url('../../dist/img/contactHD.jpg');
	}
	form.contact {
		width: 400px;
		height: 500px;
		span {
			font-size: 2.4rem;
			i {
				padding-left: 0.5rem;
			}
		}
		label {
			font-size: 1.6rem;
			padding-bottom: 1rem;
		}
		input {
			padding: 0.5rem;
			border-radius: 5px;
		}
		textarea {
			padding: 2rem;
			border-radius: 5px;
			resize: vertical;
		}
	}
	.contact-box {
		width: 80%;
	}
}
